
{% extends 'base-back.html.twig' %}

{% block body %}
<style>
.card {
    width: 70%;
    margin: 20px auto;
    padding: 10px;
}
.card-header,
.card-body,
.card-footer {
    padding: 5px;
}

.list-group-item {
    font-size: 0.8rem;
    width: 80%;
}

    

</style>
<div class="container mt-5">
    <div class="card border-primary">
        <div class="card-header bg-primary text-white">
            <h1 class="mb-0">Association</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><strong>Id Association:</strong> {{ association.id }}</li>
                        <li class="list-group-item"><strong>Nom:</strong> {{ association.nom }}</li> 
                        <li class="list-group-item"><strong>Telephone:</strong> {{ association.Telephone }}</li>
                        <li class="list-group-item"><strong>Email:</strong> {{ association.Email }}</li>
                        <li class="list-group-item"><strong>CodePostal:</strong> {{ association.CodePostal}}</li>
                        
                        <li class="list-group-item"><strong>Description:</strong> {{ association.Description }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-footer bg-transparent">
            <a href="{{ path('app_afficherassociation') }}" class="btn btn-outline-primary">Retourner</a>
        </div>
    </div>
</div>
{% endblock %}
